<div class='website_tile {{include.website[1].platform}} {{include.website[1].biztype}} clickable'>
	<img class="siteImage" src="{{site.baseurl}}/images/screenshots/{{include.website[0]}}.png"/>
	<div class='title' data-platformtag='{{include.website[1].platform}}' data-biztag='{{include.website[1].biztype}}' data-name='{{include.website[1].title}}' data-title="{{include.website[1].description}}" id='{{include.website[1].url}}' onclick="showIframe(event)">
		<div class='tileHead'>{{include.website[1].title}}</div>
		<div class='tileDesc'>{{include.website[1].description}}</div>
	</div>
</div>

<script>
function showSpinner() {
	var coverTarget = document.getElementById('coverTarget');
	$(coverTarget).append('<div id="spin" class="cp-spinner cp-meter" style="z-index: 502; position: fixed; margin-top: 5rem;"></div>')
}
function hideSpinner() {
	var spinner = document.getElementById('spin');
	$(spinner).remove();
}
function showIframe(e) {
	console.log(e.target);
	var targetDiv = document.getElementById('websiteViewer');
	var coverTarget = document.getElementById('coverTarget');
	var article = document.getElementById(e.currentTarget.id);
	var frame = `<iframe id="siteView" style="background-color: white; position: fixed; z-index: 500; top: 5%; left: 1%; border-bottom: 2px outset lightgrey; border-left: 2px outset lightgrey; border-top: 2px outset lightgrey;" width = "83%" height = "90%"></iframe>`;
	var sidebar = '<div id="iframeSidebar"></div>';
	var cover = '<div id="cover" style="z-index: 400; top: -500px; left: -10px; background-color: rgba(0, 0, 0, 0.7); display: block; width: 900%; height: 900%; position: absolute;" onclick="hideIframe()"></div>'
		$(coverTarget).append( cover );
		$(targetDiv).append( frame, sidebar);
		$('#siteView').attr('src', e.currentTarget.id);
		$('#iframeSidebar').append( '<p style="align-self: flex-end; cursor: pointer; position: fixed;" onclick="hideIframe(event)">X</p>');
		$('#iframeSidebar').append( '<h4 style="color: #72453F; text-align: center;">' + article.dataset.name + '</h4>');
		$('#iframeSidebar').append( '<p style="font-size: 17px; margin-bottom: 1.75rem;">' + article.dataset.title + '</p>' );
		$('#iframeSidebar').append( '<p class="sidetag">' + article.dataset.platformtag + '</p>' )
		$('#iframeSidebar').append( '<p class="sidetag">' + article.dataset.biztag + '</p>' )
    if (targetDiv.style.display === 'none') {
        targetDiv.style.display = 'block';
    } else {
        targetDiv.style.display = 'none';
    }
}
function hideIframe() {
	var cover = document.getElementById('cover');
	var targetDiv = document.getElementById('websiteViewer');
	$(cover).remove();
	$(targetDiv).empty();
	targetDiv.style.display = 'none';
}
</script>
