<div class='website tile'>
	<img class="siteImage" src="{{site.baseurl}}/images/screenshots/{{include.website[0]}}.png"/>
	<div class='title' title='{{include.website[1].id}}' onclick="showIframe(event)">
		{{include.website[1].title}}
	</div>
	<div id='{{include.website[1].id}}' onmouseleave="hideIframe(event)" style="display: none;" class="box"><iframe style="position: fixed; z-index: 500; top: 5%; left: 5%; border: 2px outset lightgrey;" src="https://www.google.com/search?q=%{{include.website[1].url}}&btnI=Im+Feeling+Lucky" width = "90%" height = "90%"></iframe></div>
</div>

<script>
function showIframe(e) {
    var x = document.getElementById(e.target.title);
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
		console.log(x.style.display);
}
function hideIframe(e) {
	var x = document.getElementById(e.target.id);
	x.style.display = 'none';
	console.log(x.style.display);
}
</script>
