form {
  text-align: center;
}

.form_tile {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  padding: 15px 12px 15px 12px;
  font-size: 28px;
}

.form_tile.contact {
	display:block;
	width: 800px;
    margin: auto auto;
}

#bigriverform {
	input, textarea {
		border-radius:6px;
		padding:10px;
		margin:15px;
		font-family:"Source Sans Pro", Helvetica, Trebuchet, sans-serif;
		font-size:16px;
	}

	textarea {
		width:613px;
	}

	input[type="submit"] {
		background-color:$theme-color-one;
		color:white;
		width: 185px;
    	font-size: 20px;
	}
}

@media (max-width:810px) {
	.text_tile.contact {
		width:90%
	}

	textarea {
		width:90%;
	}
}
