/* photosphere is currently set to fill #main, this setting is the footer script of default.html */
#main {
    width: 100%;
    /* required for photosphere to show up */
    height: 100%;
}

canvas {
    cursor: url('http://www.bigriverwebdesign.com/images/better-cursor.svg') 13 14, move;
}

#photosphere-background img {
    /* Centering loading image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* loading image */

#loaderHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.lds-ripple {
  position: fixed;
}

.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, .5) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, .5) infinite;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100px,-100px);
}
.lds-ripple div:nth-child(1) {
  border-color: #f5f5f5;
}
.lds-ripple div:nth-child(2) {
  border-color: #c6c6c6;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  width: 400px !important;
  height: 400px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
//
// #photosphere-background
//
#photosphere-background {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    > div > div:last-child {
        display: none;
    }
    @include mobile {
        > div > div:last-child {
            display: block;
        }
    };
}
