  /* photosphere is currently set to fill #main, this setting is the footer script of default.html */


  #main {
        width: 100%;  /* required for photosphere to show up */
        height: 100%;
<<<<<<< HEAD
  }

  canvas {
    cursor: all-scroll;
  }
=======
  }  

  #photosphere-background img { /* Centering loading image */
  	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
>>>>>>> e15b828840e4bb1c3ede8d6f9dd5819300dc08a2
