.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website_tile {
    width: 350px;
    margin: 0 6px;
    display: flex;
    height: 260px;
    background-color:$trans-white;
    margin-bottom: 12px;
    border-radius: 5px;
 }

.website_tile:last-of-type {
  margin-bottom: 3rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.siteImage {
  height: 236px;
  width: 236px;
  position: absolute;
  margin: 15px 57px;
}

div.title, div.title > a {
  z-index: 5;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 24px;
  opacity: 0;
  cursor: pointer;
}

div.title:hover {
  opacity: 1;
}

div.tileDesc {
  font-size: 16px;
  text-align: center;
}

div.box {
  display: none;
}

div#iframeSidebar {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #fff;
  padding: 0 .5rem;
  position: fixed;
  height: 90%;
  width: 15%;
  z-index: 500;
  top: 5%;
  left: 80%;
  border-top: 2px outset lightgrey;
  border-bottom: 2px outset lightgrey;
  border-right: 2px outset lightgrey;
}

#tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3px;
  width: 1074px;
  height: 33px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: .8rem;
}

div#bizTags {
  align-self: flex-end;
}

p.tag:first-of-type {
  margin-left: 24px;
}

p.tag:last-of-type {
  margin-right: 24px;
}

p.tag {
  cursor: pointer;
  font-size: 12px;
  line-height: 2;
  margin: 0 6px;
  padding: 4px 8px;
  display: inline;
  border-radius: 5px;
  background-color: #D8D8D8;
  color: white;
}

p.sidetag {
  font-size: 14px;
  padding: 4px 8px;
  background-color: #BFBFBF;
  border-radius: 5px;
  color: white;
  align-self: flex-start;
  margin: .25rem 0;
}

p.sidetag:last-of-type {
  margin-bottom: 1rem;
}

@media (max-width: 1164px) {
  #tags {
    width: 712px;
  }
}

@media (max-width: 783px) {
  #tags {
    width: 350px;
    height: auto;
  }
}
