.website.tile {
    @include flexcol(3);
    display: inline-block;
    height: 300px;
    /* background image defined inline */
    background-repeat: no-repeat;
    background-size: cover;
    background-color:$trans-white;
 }