.pond {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.service_box {
  background-color: rgba(255,255,255,.7);
  border-radius: 6px;
  padding: 0px 12px 15px 12px;
  font-size: 16px;
  width: 30%;
  margin: 0 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-speech-streamline-talk-user::before, .icon-pen-streamline::before, .icon-design-graphic-tablet-streamline-tablet::before, .icon-computer-network-streamline::before, .icon-envelope-o::before {
  font-size: 55px;
  padding: 1rem;
}

.logos {
  clear: both;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255,255,255,.7);
  border-radius: 6px;
  font-size: 16px;
  padding: 1rem;
  margin-bottom: 3rem;
}

img.logo {
  max-height: 85px;
}

@media (max-width: 1150px) {
  div.pond {
    display: flex;
    flex-wrap: wrap;
  }
  .service_box {
    float: none;
    margin: 1%;
    width: 48%;
  }
}

@media (max-width: 800px) {
  div.service_box {
    width: 98%;
  }
}
