
/**************/
/* BASE RULES */
/**************/

html {
    font-size: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $theme-color-two;
    font: 18px/1.4 $sans-font-family;
    color: $darkGray;
}

#loaderHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 95%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans-font-family;
    color: $darkerGray;
    font-weight: bold;

    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;

    @include mobile {
        line-height: 1.4;
    }
}

h1 {
    font-size: 30px;
    a {
        color: inherit;
    }
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    color: $gray;
}

p {
    color: #72453F;
}

.text_tile p {
  font-size: 16px;
}

a {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active {
        color: $link-color;
    }
}

ul, ol {
    margin: 15px 0;
    padding-left: 30px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
    margin: 0;
}

ul ul, ol ul {
    list-style-type: circle;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

img {
    max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
    max-width: none;
}

.date {
    font-style: italic;
    color: $gray;
}

// Specify the color of the selection
::-moz-selection {
    color: $black;
    background: $lightGray;
}
::selection {
    color: $black;
    background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

#main, #wrapper-masthead {
    position:absolute;
    pointer-events: none;
    max-width:none;
    width:100%;
}

.fixed {
  position: fixed!important;
}

.clickable {
    pointer-events:auto;
}

#main {
    top:185px;
}

//
// Includes
//
.mosaic {
  display: flex;
  flex-wrap: wrap;
}

h5 {
  margin: 0;
  font-size: 36px;
  color: #72453F;
}

h6 {
  margin: 0;
  font-size: 24px;
  color: #72453F;
}

.text_tile {
  background-color: rgba(255,255,255,.7);
  border-radius: 6px;
  padding: 0px 12px 15px 12px;
  margin: 1%;
  font-size: 28px;
  margin-bottom: 3rem;
}

.img_text_tile {
    @include flexcol(4);
    width: 23%;
    background-color: rgba(255,255,255,.7);
    border-radius: 6px;
    padding: 10px;
    height: 31rem;
    margin: 1%;
    img {
        border-radius: 50%;
    }
}

@media (max-width: 1000px) {
  .img_text_tile {
    img {
      max-width: 62%;
    }
  }
}

@media (max-width: 480px) {
  .mosaic {
    flex-direction: column;
  }
  .img_text_tile {
    width: 100%;
  }
  p {
    font-size: 18px;
  }
}

.bottomText {
  width: 98%;
  height: inherit;
  font-size: 24px;
  margin: 3rem 0;
}

.email {
  color: inherit;
  text-decoration: underline;
}
.email:hover {
  color: saddlebrown;
}

//
// .masthead
//

#wrapper-masthead {
    margin-bottom: 50px;
}

.masthead {
    padding: 20px 0;

    @include mobile {
        text-align: center;
    }
}

.site-avatar {
    display: inline-block;
    width: 150px;
    margin-right: 15px;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }

    img {
        display: block;
        margin: 1%;
    }
}

.img_holder {
  text-align: center;
}

.site-info {
    float: left;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-name {
    margin: 0;
    color: $darkGray;
    cursor: pointer;
    font-family: $sans-font-family;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 1px;
}

.site-description {
    margin: -5px 0 0 0;
    color: $gray;
    font-size: 16px;

    @include mobile {
        margin: 3px 0;
    }
}

nav.top-nav {
    display: inline-block;
    font-family: $sans-font-family;
    font-weight: $sans-bold-weight;
    font-size: 27px;

    @include mobile {
        float: none;
        margin-top: 9px;
        display: block;
        font-size: 16px;
    }

    a {
        margin-left: 20px;
        color: $link-color;
        text-align: right;
        letter-spacing: 1px;
        transition: .3s color;
        &.active, &:hover {
            color: $gray;
            transition: .3s color;
        }

        @include mobile {
            margin: 0 10px;
            color: $link-color;
        }
    }
}

div.aboutPage {
  height: inherit;
  width: inherit;
  display: block;
  float: none;
  color: #72453F;
}

//
// .main
//

.posts > .post {
    padding-bottom: 2em;
    border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}

.post {
    blockquote {
        margin: 1.8em .8em;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 22px;
        font-style: italic;
    }

    .comments {
        margin-top: 10px;
    }

    .read-more {
        text-transform: uppercase;
        font-size: 15px;
    }
}

.wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: $lightGray;
}

footer {
    padding: 20px 0;
    text-align: center;
}


// header/dropdown menus

ul.dropdown {
  display: inherit;
  padding-left: 0;
  list-style-type: none;
}

ul.dropdown-menu {
  display: none;
  list-style-type: none;
  position: absolute;
  margin-top: -2px;
}

ul.dropdown-menu:hover {
  display: inline-block;
}

a.hoverNeighbor:hover + ul {
  display: inline-block;
}

div#helpr {
  position: fixed;
  cursor: pointer;
  bottom: 0;
  right: 0;
  font-weight: bolder;
  font-size: 30px;
  background-color: rgba(0, 0, 0, .5);
  padding: 0px 15px;
  display: block;
  border-radius: 100%;
  margin: 15px;
  color: rgba(255, 255, 255, .8);
}

div#help {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, .8);
  bottom: 0;
  right: 0;
  margin: 5rem;
  width: 20rem;
  padding: 15px;
  border-radius: 15px;
}

div#exit {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

@media (max-width: 695px) {
  div#helpr {
    margin: 55px 15px;
  }
}
