
//
// VARIABLES
//

// Theme Colors
$theme-color-one: #164DE5; //blue

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Element Colors
$link-color:$theme-color-one;


// Font stacks
$sans-font-family: "Source Sans Pro", Helvetica, Trebuchet, sans-serif;
$serif-font-family: Georgia, serif;
$sans-bold-weight: 700;

// Backgrounds
$trans-white:rgba(255,255,255,.9);

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 695px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}
// todo: make this work via flexbox instead?
@mixin flexcol($columns) {
  width: (1/$columns)*100%;  //converting number of columns to percent width
  margin: 0 1%;
  float: left;
  display: inline-block;
  @include mobile {
    width: 48%;
  }
  @include tablet {
    width: 48%;
  }
}
